.Menu nav ul {
    background-color: rgb(201, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .Menu nav ul li {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    padding: 20px;    
  }

  .Menu nav ul{
    margin-top: 0;
  }
  
  .Menu nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .Menu nav ul li a:hover {
    text-shadow: rgb(0, 0, 0) 5px 0 10px;    
  }